<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan3DPictures
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickSettings()"><ion-icon name="cog"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let picture of pictures.reverse(); let i=index">
        <div>
          <ion-thumbnail>
            <ion-img (click)="onClickPhoto(pictures.length - i - 1)" [src]="picture.base64"></ion-img>
          </ion-thumbnail>
          <ion-icon *ngIf="!picture.sent" class="icon icon-not-sent" src="/assets/icons/cloud_upload-24px.svg"></ion-icon>
          <ion-icon *ngIf="picture.sent" class="icon icon-sent" src="/assets/icons/cloud_done-24px.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button size="large" expand="block" color="primary" (click)="camera()"><ion-icon name="camera"></ion-icon></ion-button>
</ion-footer>
